{
  "log": {
    "_recordingName": "fetch-containers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f4727b26b568c1bde6c68903b543b255",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220510T185907Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 507,
            "text": "{\"id\":\"c5c53571-f224-4dc8-b127-3b5823f350bd\",\"accountId\":\"32b8be2d-ebc0-46e8-ab66-484159d96715\",\"lastLogin\":\"2022-05-10T18:59:07.566Z\",\"fullName\":\"JupiterOne\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"SERVICE\",\"email\":null,\"shouldDisplayEula\":false,\"shouldDisplayProductTour\":true,\"permissionsMode\":\"MANAGED\",\"accountTier\":\"TRIAL\",\"pricingUnitType\":\"POD\",\"apiSecurity\":\"ENABLED\",\"serverlessSecurity\":\"DISABLED\",\"usageStatus\":{\"currentNodesUsage\":2,\"maxNodes\":5,\"currentClustersUsage\":1,\"maxClusters\":1}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 598,
      },
      {
        "_id": "23a62c1125c87a511fdee130a42af615",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220510T185907Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/kubernetesClusters"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1096,
            "text": "[{\"id\":\"3d0c82a0-8f1e-4b12-9ec6-6690edc8d5fa\",\"name\":\"Cloudbees CDRO\",\"clusterPodDefinitionSource\":\"KUBERNETES\",\"ciImageValidation\":false,\"restrictRegistires\":false,\"preserveOriginalSourceIp\":false,\"isPersistent\":false,\"isMultiCluster\":false,\"enableConnectionsControl\":true,\"proxyConfiguration\":{\"enableProxy\":false,\"httpsProxy\":\"\"},\"agentFailClose\":false,\"serviceDiscoveryIsolationEnabled\":false,\"isHoldApplicationUntilProxyStarts\":false,\"isIstioIngressEnabled\":false,\"tokenInjectionEnabled\":false,\"automatedPolicyRequiresDeployer\":true,\"autoLabelEnabled\":false,\"istioIngressAnnotations\":null,\"tlsInspectionEnabled\":true,\"tracingSupportSettings\":{\"installTracingSupport\":false,\"traceAnalyzerEnabled\":false,\"specReconstructorEnabled\":false},\"sidecarsResources\":null,\"istioInstallationParameters\":{\"isIstioAlreadyInstalled\":false,\"istioVersion\":\"1.13.2\"},\"internalRegistryParameters\":{\"internalRegistryEnabled\":false,\"internalRegistry\":null},\"externalCa\":{\"id\":null,\"name\":null},\"apiIntelligenceDAST\":false,\"autoUpdateEnabled\":true,\"orchestrationType\":\"GKE\",\"minimalNumberOfControllerReplicas\":1}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 453,
      },
      {
        "_id": "5a9745418d86a2156f8c14d3f32c5729",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "[...]
