{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cfafea2aa74448a54bc680023931294f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220726T122302Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1401,
            "text": "[{\"id\":\"dbbe17d6-e95e-4932-9c84-b1d86e7ed6cc\",\"accountId\":\"544f7af8-3733-41a7-a660-01e4595442da\",\"lastLogin\":\"2022-05-04T17:04:00.419Z\",\"fullName\":\"Sam Andus\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"ACCOUNT_ADMIN\",\"normalizedRole\":\"Administrator\",\"email\":\"sam.andrus@jupiterone.com\"},{\"id\":\"1322cc07-168a-4a38-b7ca-b6b5fbb37284\",\"accountId\":\"544f7af8-3733-41a7-a660-01e4595442da\",\"lastLogin\":\"2022-07-22T18:30:42.288Z\",\"fullName\":\"Stefan Virag\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"ACCOUNT_ADMIN\",\"normalizedRole\":\"Administrator\",\"email\":\"stefan.virag@contractor.jupiterone.com\"},{\"id\":\"2e51a670-dc65-41a8-af75-4dc058b233f1\",\"accountId\":\"544f7af8-3733-41a7-a660-01e4595442da\",\"lastLogin\":\"2022-07-22T19:04:49.630Z\",\"fullName\":\"TestService\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"SERVICE\",\"normalizedRole\":\"Service User\",\"email\":null},{\"id\":\"89b01640-810b-4b69-b7de-d534b1ea9e95\",\"accountId\":\"544f7af8-3733-41a7-a660-01e4595442da\",\"lastLogin\":\"2022-05-05T14:15:21.634Z\",\"fullName\":\"P Gilaga\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"ACCOUNT_ADMIN\",\"normalizedRole\":\"Administrator\",\"email\":\"pgilaga@gmail.com\"},{\"id\":\"6daa330a-2ace-4c3f-b3df-d12285b36553\",\"accountId\":\"544f7af8-3733-41a7-a660-01e4595442da\",\"lastLogin\":\"2022-07-26T12:23:02.881Z\",\"fullName\":\"Example Service\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"SERVICE\",\"normalizedRole\":\"Service User\",\"email\":null}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 615,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
