{
  "log": {
    "_recordingName": "fetch-images",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f4727b26b568c1bde6c68903b543b255",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220510T185907Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 507,
            "text": "{\"id\":\"c5c53571-f224-4dc8-b127-3b5823f350bd\",\"accountId\":\"32b8be2d-ebc0-46e8-ab66-484159d96715\",\"lastLogin\":\"2022-05-10T18:59:07.783Z\",\"fullName\":\"JupiterOne\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"SERVICE\",\"email\":null,\"shouldDisplayEula\":false,\"shouldDisplayProductTour\":true,\"permissionsMode\":\"MANAGED\",\"accountTier\":\"TRIAL\",\"pricingUnitType\":\"POD\",\"apiSecurity\":\"ENABLED\",\"serverlessSecurity\":\"DISABLED\",\"usageStatus\":{\"currentNodesUsage\":2,\"maxNodes\":5,\"currentClustersUsage\":1,\"maxClusters\":1}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 594,
      },
      {
        "_id": "554b043f26975a2b6d8150bfbbbb5090",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220510T185907Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/images"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 13925,
            "text": "[{\"id\":\"640af106-ffb4-4b9e-942d-8f2a59526b1b\",\"imageName\":\"docker.io/bitnami/mariadb\",\"imageTags\":[\"10.3.20-debian-9-r0\"],\"imageHash\":\"4867b36293504a98e1cf3fbbae657845cf24b090a610930836088178604f02ca\",\"timeAdded\":\"2022-05-04T05:28:30.364Z\",\"vulnerabilitiesSummary\":{\"total\":98,\"unknown\":0,\"low\":0,\"medium\":27,\"high\":58,\"critical\":13},\"isScanned\":true,\"isIdentified\":false,\"imageSourceType\":\"RISK_ASSESSMENT\",\"dockerfileScanResultsSummary\":{\"total\":0,\"info\":0,\"warn\":0,\"fatal\":0}},{\"id\":\"49acc100-98b6-4ae4-9c70-d1e1d331d4d2\",\"imageName\":\"gke.gcr.io/gcp-compute-persistent-disk-csi-driver\",\"imageTags\":[\"v1.3.5-gke.0\"],\"imageHash\":\"9afa38d0d3df00535a09aa89e577b8142b1e7a5d24281655408810e61a8fc4c6\",\"timeAdded\":\"2022-05-04T05:27:58.067Z\",\"vulnerabilitiesSummary\":{\"total\":52,\"unknown\":0,\"low\":0,\"medium\":15,\"high\":24,\"critical\":13},\"isScanned\":true,\"isIdentified\":false,\"imageSourceType\":\"RISK_ASSESSMENT\",\"dockerfileScanResultsSummary[...]
