{
  "log": {
    "_recordingName": "client-id-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f4727b26b568c1bde6c68903b543b255",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220504T064545Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "ESR-HMAC-SHA256 Credential=INVALID/20220504/global/services/portshift_request, SignedHeaders=host;x-escher-date, Signature=648e282f8452907bcddab1487bbc61da5cdda77daafadd7190905a739a746a12"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=ISO-8859-1",
            "size": 83,
            "text": "{\"message\":\"HTTP Status 401 - INVALID is not a valid UUID. path: /me\",\"errors\":{}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=ISO-8859-1"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 782,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
