{
  "log": {
    "_recordingName": "client-id-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cfafea2aa74448a54bc680023931294f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220726T122138Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=ISO-8859-1",
            "size": 86,
            "text": "{\"message\":\"HTTP Status 401 - INVALID is not a valid UUID. path: /users\",\"errors\":{}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=ISO-8859-1"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 407,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
