{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f4727b26b568c1bde6c68903b543b255",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220510T185907Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 507,
            "text": "{\"id\":\"c5c53571-f224-4dc8-b127-3b5823f350bd\",\"accountId\":\"32b8be2d-ebc0-46e8-ab66-484159d96715\",\"lastLogin\":\"2022-05-10T18:59:07.535Z\",\"fullName\":\"JupiterOne\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"SERVICE\",\"email\":null,\"shouldDisplayEula\":false,\"shouldDisplayProductTour\":true,\"permissionsMode\":\"MANAGED\",\"accountTier\":\"TRIAL\",\"pricingUnitType\":\"POD\",\"apiSecurity\":\"ENABLED\",\"serverlessSecurity\":\"DISABLED\",\"usageStatus\":{\"currentNodesUsage\":2,\"maxNodes\":5,\"currentClustersUsage\":1,\"maxClusters\":1}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 617,
      },
      {
        "_id": "cfafea2aa74448a54bc680023931294f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220510T185907Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 557,
            "text": "[{\"id\":\"bc069c2f-b9c3-4f69-88d8-e60464786bc0\",\"accountId\":\"32b8be2d-ebc0-46e8-ab66-484159d96715\",\"lastLogin\":\"2022-05-06T08:02:16.197Z\",\"fullName\":\"Paul Grant Ilaga\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"ACCOUNT_ADMIN\",\"normalizedRole\":\"Administrator\",\"email\":\"paul.ilaga@creativice.com\"},{\"id\":\"c5c53571-f224-4dc8-b127-3b5823f350bd\",\"accountId\":\"32b8be2d-ebc0-46e8-ab66-484159d96715\",\"lastLogin\":\"2022-05-10T18:59:08.025Z\",\"fullName\":\"JupiterOne\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"SERVICE\",\"normalizedRole\":\"Service User\",\"email\":null}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 447,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
