{
  "log": {
    "_recordingName": "build-cluster-risk-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f4727b26b568c1bde6c68903b543b255",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220510T185907Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 507,
            "text": "{\"id\":\"c5c53571-f224-4dc8-b127-3b5823f350bd\",\"accountId\":\"32b8be2d-ebc0-46e8-ab66-484159d96715\",\"lastLogin\":\"2022-05-10T18:59:08.165Z\",\"fullName\":\"JupiterOne\",\"description\":null,\"status\":\"ENABLED\",\"role\":\"SERVICE\",\"email\":null,\"shouldDisplayEula\":false,\"shouldDisplayProductTour\":true,\"permissionsMode\":\"MANAGED\",\"accountTier\":\"TRIAL\",\"pricingUnitType\":\"POD\",\"apiSecurity\":\"ENABLED\",\"serverlessSecurity\":\"DISABLED\",\"usageStatus\":{\"currentNodesUsage\":2,\"maxNodes\":5,\"currentClustersUsage\":1,\"maxClusters\":1}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 448,
      },
      {
        "_id": "23a62c1125c87a511fdee130a42af615",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220510T185908Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/kubernetesClusters"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1096,
            "text": "[{\"id\":\"3d0c82a0-8f1e-4b12-9ec6-6690edc8d5fa\",\"name\":\"Cloudbees CDRO\",\"clusterPodDefinitionSource\":\"KUBERNETES\",\"ciImageValidation\":false,\"restrictRegistires\":false,\"preserveOriginalSourceIp\":false,\"isPersistent\":false,\"isMultiCluster\":false,\"enableConnectionsControl\":true,\"proxyConfiguration\":{\"enableProxy\":false,\"httpsProxy\":\"\"},\"agentFailClose\":false,\"serviceDiscoveryIsolationEnabled\":false,\"isHoldApplicationUntilProxyStarts\":false,\"isIstioIngressEnabled\":false,\"tokenInjectionEnabled\":false,\"automatedPolicyRequiresDeployer\":true,\"autoLabelEnabled\":false,\"istioIngressAnnotations\":null,\"tlsInspectionEnabled\":true,\"tracingSupportSettings\":{\"installTracingSupport\":false,\"traceAnalyzerEnabled\":false,\"specReconstructorEnabled\":false},\"sidecarsResources\":null,\"istioInstallationParameters\":{\"isIstioAlreadyInstalled\":false,\"istioVersion\":\"1.13.2\"},\"internalRegistryParameters\":{\"internalRegistryEnabled\":false,\"internalRegistry\":null},\"externalCa\":{\"id\":null,\"name\":null},\"apiIntelligenceDAST\":false,\"autoUpdateEnabled\":true,\"orchestrationType\":\"GKE\",\"minimalNumberOfControllerReplicas\":1}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 573,
      },
      {
        "_id": "4d19bb59e965493eb93a9e373ad5dd80",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220510T185908Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/riskAssessment"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 563,
            "text": "[{\"id\":\"f8b60cef-62ce-4043-b2b3-eea4861c175e\",\"time\":\"2022-05-04T05:27:19.467Z\",\"total\":33,\"scanned\":33,\"clusterId\":\"3d0c82a0-8f1e-4b12-9ec6-6690edc8d5fa\",\"clusterName\":\"Cloudbees CDRO\",\"status\":\"DONE\",\"vulnerabilitiesSummary\":{\"total\":630,\"unknown\":0,\"low\":0,\"medium\":346,\"high\":225,\"critical\":59},\"dockerfileScanResultsSummary\":{\"total\":0,\"info\":0,\"warn\":0,\"fatal\":0},\"scanConfig\":{\"namespaces\":[],\"maxParallelism\":10,\"minimumSeverity\":\"MEDIUM\",\"periodicJobExpression\":{\"PeriodicJobType\":\"NonPeriodicJobExpression\"},\"runDockerfileScan\":false},\"hasFailed\":true}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 476,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
