{
  "log": {
    "_recordingName": "fetch-risks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4d19bb59e965493eb93a9e373ad5dd80",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220510T185907Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/riskAssessment"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 563,
            "text": "[{\"id\":\"f8b60cef-62ce-4043-b2b3-eea4861c175e\",\"time\":\"2022-05-04T05:27:19.467Z\",\"total\":33,\"scanned\":33,\"clusterId\":\"3d0c82a0-8f1e-4b12-9ec6-6690edc8d5fa\",\"clusterName\":\"Cloudbees CDRO\",\"status\":\"DONE\",\"vulnerabilitiesSummary\":{\"total\":630,\"unknown\":0,\"low\":0,\"medium\":346,\"high\":225,\"critical\":59},\"dockerfileScanResultsSummary\":{\"total\":0,\"info\":0,\"warn\":0,\"fatal\":0},\"scanConfig\":{\"namespaces\":[],\"maxParallelism\":10,\"minimumSeverity\":\"MEDIUM\",\"periodicJobExpression\":{\"PeriodicJobType\":\"NonPeriodicJobExpression\"},\"runDockerfileScan\":false},\"hasFailed\":true}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 631,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
