{
  "log": {
    "_recordingName": "client-secret-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f4727b26b568c1bde6c68903b543b255",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220504T064546Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "ESR-HMAC-SHA256 Credential=c5c53571-f224-4dc8-b127-3b5823f350bd/20220504/global/services/portshift_request, SignedHeaders=host;x-escher-date, Signature=aa33705151c1654e7b7bd64cd68ab08a0b5385bbf4c8fff370f7ffeff6f59a58"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=ISO-8859-1",
            "size": 300,
            "text": "{\"message\":\"HTTP Status 401 - verification failed for c5c53571-f224-4dc8-b127-3b5823f350bd: The signatures do not match (provided: aa33705151c1654e7b7bd64cd68ab08a0b5385bbf4c8fff370f7ffeff6f59a58, calculated: d158d92b94fbbf2714e9a73f965879c265b8f2a4747984abf0d5ad58fc14ef51). path: /me\",\"errors\":{}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=ISO-8859-1"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 738,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
