{
  "log": {
    "_recordingName": "client-secret-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cfafea2aa74448a54bc680023931294f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-escher-date",
              "value": "20220726T122139Z"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-escher-auth",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://securecn.cisco.com/api/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=ISO-8859-1",
            "size": 303,
            "text": "{\"message\":\"HTTP Status 401 - verification failed for 6daa330a-2ace-4c3f-b3df-d12285b36553: The signatures do not match (provided: 4a6618a86946aae0f903a42b205d2c155d98b33adffab4a09ecd70eb2c21be6f, calculated: b795f604bb8d1adb124004e6e682a881a8f0ef7d1a816fa53a6733d679ec1f6c). path: /users\",\"errors\":{}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=ISO-8859-1"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 461,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
